    body {
        font-family: Arial;
        background-image: url('images/interlaced.png');
        margin: 0;
    }
    
    main {
        margin: 0 auto;
        width: 1300px;
        text-align: center;
    }
    
    header {
        background-image: url('images/logo.jpg');
        background-repeat: no-repeat;
        background-color: black;
        height: 83px;
        max-width: 100%;
        font-size: 21px;
        font-family: "Arial Black", Gadget, sans-serif;
    }
    
    nav {
        position: absolute;
        right: 320px;
    }
    
    ul,
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 30px;
    }
    
    ul li {
        float: left;
        padding-left: 25px;
    }
    
    a {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        padding: 25px 0;
    }
    
    a:link {
        color: rgb(255, 97, 200);
        text-decoration: none;
    }
    
    a:visited {
        color: darkviolet;
    }
    
    a:hover {
        color: red;
        text-decoration: underline;
    }
    
    a:active {
        color: green;
        font-style: italic;
    }
    
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h1,
    h2,
    footer {
        font-family: "Times New Roman";
    }
    
    p {
        padding: 0 50px;
        font-size: 20px;
    }
    
    .druga {
        position: relative;
        top: 30px;
        left: 50px;
        width: 600px;
        line-height: 30px;
        padding-bottom: 100px;
    }
    
    .treći img {
        width: 420px;
        height: 335px;
        border: 3px solid;
        border-radius: 15%;
        -webkit-border-radius: 15%;
        -moz-border-radius: 15%;
        -ms-border-radius: 15%;
        -o-border-radius: 15%;
    }
    
    .treći {
        position: absolute;
        left: 1100px;
        top: 670px;
    }
    
    aside {
        position: fixed;
        top: 435px;
        right: 0px;
        border: 3px solid;
        padding: 10px;
    }
    
    footer {
        text-align: center;
        font-size: 30px;
    }